/target
/.vscode/
/.idea/
*.sublime-*
*.swp
*~
/target/
**/*.rs.bk
Cargo.lock
*.pdb
.DS_Store
Thumbs.db
*.tmp
*.log
/学习
*.json
*txt
config.json
config
/Log/
/models/
/效果/
permissions
/resources/
/httpx/
/idna/
/loguru/
/qrcode/
bilibili_util.cp313-win_amd64.pyd
bilibili_util.cpython-313-darwin.so